# Environment variables
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# SQLite database
db.sqlite3

# Static & media
staticfiles/
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db